# Copyright (c) 2017 Linaro Limited
# Copyright (c) 2017 Open Source Foundries Limited
# Copyright (c) 2018 Foundries.io
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "Open Source Foundries dm-hawkbit-mqtt Configuration"

config FOTA_DEVICE
	bool "Enable FOTA device settings"
	default y
	select FOTA_DEVICE_SOC_SERIES_KINETIS_K6X if SOC_SERIES_KINETIS_K6X
	select FOTA_DEVICE_SOC_SERIES_NRF52X if SOC_SERIES_NRF52X
	help
	  Main config to enable device specific settings

config FOTA_DEVICE_SOC_SERIES_KINETIS_K6X
	bool "Kinetis K6x application settings"
	select NET_SHELL
	select NET_IPV4
	select NET_APP_NEED_IPV4
	select NET_UDP # for DHCP
	select NET_APP_SETTINGS
	default n

if FOTA_DEVICE_SOC_SERIES_KINETIS_K6X

# IPv6 is enabled by default in Zephyr's Kconfig when networking is selected.
config NET_IPV6
	default n

endif # FOTA_DEVICE_SOC_SERIES_KINETIS_K6X

config FOTA_DEVICE_SOC_SERIES_NRF52X
	bool "Nordic Semiconductor nRF52 application settings"
	select NET_IPV6
	select NET_APP_NEED_IPV6
	select NET_APP_BT_NODE
	select SENSOR
	select TEMP_NRF5
	select ENTROPY_NRF5_RNG
	default n

if FOTA_DEVICE_SOC_SERIES_NRF52X

config BT_DEVICE_NAME
	default "ZMP IPSP node"

config NET_UDP
	default n

# The following BT configs are not needed in peripheral mode.

config BT_CTLR_CONN_PARAM_REQ
	default n

config BT_CTLR_ADV_EXT
	default n

endif # FOTA_DEVICE_SOC_SERIES_NRF52X

config SYS_LOG_FOTA_LEVEL
	int "FOTA log level"
	depends on SYS_LOG && FOTA_DEVICE
	default 0
	range 0 4
	help
	  Set the log level for the FOTA library.

	  The available levels are:

	  - 0 OFF: do not write
	  - 1 ERROR: only write SYS_LOG_ERR
	  - 2 WARNING: write SYS_LOG_WRN in addition to previous level
	  - 3 INFO: write SYS_LOG_INF in addition to previous levels
	  - 4 DEBUG: write SYS_LOG_DBG in addition to previous levels

# TODO: get these from a credential partition instead.

config FOTA_MQTT_USERNAME
	string "MQTT username"
	default "mqtt-username"
	help
	   Username value to use when connecting to MQTT broker.

config FOTA_MQTT_PASSWORD
	string "MQTT password"
	default ""
	help
	   Password value to use when connecting to MQTT broker.

	   If this is the empty string, a password based on the board
	   and a board-specific ID number will be used instead. This
	   is intended for testing and development only.

# Leave this at the bottom: we need to override Zephyr's default settings
# with some of the values above.
source "$ZEPHYR_BASE/Kconfig.zephyr"
