# Copyright (c) 2017 Linaro Limited
#
# SPDX-License-Identifier: Apache-2.0
#

if FOTA_DEVICE_SOC_SERIES_KINETIS_K6X

config NET_IF_UNICAST_IPV4_ADDR_COUNT
	int
	default 3

config NET_IF_MCAST_IPV4_ADDR_COUNT
	int
	default 2

config NET_MAX_CONN
	int
	default 5

config NET_MAX_CONTEXTS
	int
	default 5

config NET_RX_STACK_SIZE
	int
	default 2048

config NET_SAMPLES_MY_IPV4_ADDR
	string
	default 192.168.0.2

config NET_SAMPLES_PEER_IPV4_ADDR
	string
	default 192.168.0.1

config TEXT_SECTION_OFFSET
	hex
	default 0x200

config FLASH_LOAD_OFFSET
	hex
	default 0x20000

endif # FOTA_DEVICE_SOC_SERIES_KINETIS_K6X
