&flash0 {
	partitions {
		app_state_partition: partition@10000 {
			label = "application-state";
			reg = <0x00010000 0x00010000>;
		};
	};
};

&i2c0 {
	fxos8700@1d {
		label = "fota-offchip-temp";
	};
};
